# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
./server/dist
./server/node_modules

# Logs
./server/logs
./server/*.log
./server/npm-debug.log*
./server/pnpm-debug.log*
./server/yarn-debug.log*
./server/yarn-error.log*
./server/lerna-debug.log*

# OS
./server/.DS_Store

# Tests
./server/coverage
./server/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
/client/.DS_Store
/client/*.pem

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.pnpm-debug.log*

# local env files
/client/.env*.local

# vercel
/client/.vercel

# typescript
/client/*.tsbuildinfo
