
.listFriends {
	display: flex;
	flex-direction: column;
	height: 48.5rem;
	overflow-y: auto;
	scrollbar-color: #2B2B2D #3A3A3C;
	margin-top: 1.333rem;
}

.FriendCtn {
	padding: 2rem;
	padding-top: 0;
	padding-bottom: 1.867rem;
}

.friend {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #2B2B2D;
	border-radius: 5px;
	padding: 0.667rem 0.8rem;
	margin: 0.667rem 0 0 0;
	/* max-height: 3.333rem; */
	width: 100%;
}

.friend:first-of-type {
	margin-top: 0.133rem;
}
.friend:last-of-type {
	margin-bottom: 0px;
}

.Avatar_name {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex: 30%;
}

.avatar {
	width: 3rem;
	height: 3rem;
	border-radius: 5px;
	overflow: hidden;
}

.friendName {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 17px;
	color: #D9D9D9;
	margin-left: 0.667rem;
}

.optionFriend {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 20%;
}

.sendMsg {
	cursor: pointer;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
	line-height: 17px;
	color: #FF6482;
	padding-top: 7px;
	height: 30px;
	margin-right: 1rem;
}

.btnSelected {
	background: #555D67;
	border-radius: 3px;
	color: #C6E1FF;
}

.noBlockers {
	text-align: center;
	color: #758293;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 15px;
	padding-top: 1rem;
}

@media only screen and (max-width: 2200px) {
	.listFriends {
		height: 70rem;
	}
	.friends {
		height: 100%;
	}
}

@media only screen and (max-width: 1000px) {
	.listFriends {
		height: 40rem;
	}
}