.chatContainer {
    display: flex;
    background-color: #2C2C2E;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    border-radius: 15px;
}

.chatLeft {
    width: 30%;
    background-color: #2C2C2E;
    border-radius: 15px 0 0 15px;
}

.chatRight {
    width: 70%;
    background-color: #2C2C2E;
    border-radius: 0 15px 15px 0;
    background-color: #242426;
}

.leftContent {
    height: 100%;
    width: 100%;
    padding: 28px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg {
    color: #C6E1FF;
    font-weight: 700;
    font-size: 24px;
}

.msgsDisplay {
    position: relative;
}

.chatInput {
    border: 0;
    background-color: #2C2C2E;
    color: #D9D9D9;
    font-size: 16px;
}

.chatInput::placeholder {
    font-size: 16px;
    color: #758293;
}

.chatInput:focus {
    outline: none;
    font-size: 16px;
    color: #D9D9D9;
    font-weight: 500;
}

.chatSearch {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2.313rem;
}

.chatUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    height: 72px;
    margin-top: 20px;
    cursor: pointer;
    padding: 12px 8px;
}


.avatarName {
    display: flex;
    gap: 20px;
}

.username {
    color: #D9D9D9;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 8px;
    width: 48px !important;
    height: 46.93px !important;
}

.status {
    color: #C6E1FF;
    font-size: 1.167rem;
}

.bottomSection {
    position: relative;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 1rem;
    height: 100%;
}

.bottomSection::-webkit-scrollbar {
    background: #2D2F31;
    width: 5px;
    outline: 3px solid #2D2F31;
    border-radius: 4px;
}

.bottomSection::-webkit-scrollbar-thumb {
    background: #242426;
    border-radius: 4px;
}

.topDetails {
    display: flex;
    justify-content: space-between;
    height: 9.333rem;
    background-color: #28282A;
    border-radius: 0 15px 0 0;
    padding: 18px 1.313rem;
    align-items: center;
}

.flex {
    display: flex;
    gap: 24px;
    align-items: center;
    cursor: pointer;
}

.chatUsername {
    color: #D9D9D9;
    font-size: 2rem;
    font-weight: 500;
}

.chatUserStatus {
    color: #C6E1FF;
    font-size: 1.333;
    margin-top: 4px;
}

.flex>div {
    height: fit-content;
}

.flex>div>h1 {
    margin: 0;
}

.rightContent {
    height: 100%;
    /* background-color: coral; */
    position: relative;
    width: 100%;
}

.chatSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    top: 112px;
}

.msgsDisplay {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    width: calc(100% - (1.313rem * 2));
    margin: 0 auto;
    position: relative;
    margin-right: auto;
    margin-top: 3px;
    /* background-color: #D9D9D9; */
}


.msgsDisplay::-webkit-scrollbar {
    background: #2D2F31;
    width: 5px;
    outline: 3px solid #2D2F31;
    /* outline: 1px solid red; */
    padding-top: 0.5rem;
    margin-left: 6px;
}

.msgsDisplay::-webkit-scrollbar-track {
    background: #2D2F31;
}

.msgsDisplay::-webkit-scrollbar-thumb {
    background: #2B2B2D;
    height: 70%;
    width: 3px;
    border-radius: 5px;
}

.msgInput {
    width: 100%;
    height: 50px;
    background-color: #28282A;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 12px 14px;
    justify-content: space-between;
}

.msgInput>input {
    background-color: #28282A;
    color: #D9D9D9;
    width: 100%;
    margin-right: 12px;
    border: 0;
    height: 1.5rem;
}

.msgInput>input:focus {
    outline: none;
}

.msgBox {
    display: flex;
    align-items: center;
}

.msgContent {
    padding: 1.25rem;
    word-break: break-all;
    text-align: left;
    height: fit-content;
    width: fit-content;
    padding: 0.625rem 1.25rem;
    margin-top: 1.313rem;
    /* width: 40%; */
    max-width: 45%;
    margin-bottom: 2px;
    font-size: 1.333rem;
    color: #fff;
    font-weight: 500;
}

.msgBox:last-child {
    margin-bottom: 2rem;
}

.msgContent>h3 {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
}

.msgContent>p {
    font-weight: 600;
    font-size: 0.625rem;
}

.chatUserClicked {
    background-color: #242426;
    border-radius: 5px;
}

.sendDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    width: calc(100% - (1.313rem * 2));
}

@keyframes bounce-3 {
    from {
        transform: translateX(-15px);
    }

    to {
        transform: translateX(0);
    }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.animatedBtn {
    -webkit-animation-name: bounce-3;
    animation-name: bounce-3;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    cursor: pointer;
}

.console:hover {
    cursor: pointer;
    fill: #409CFF;
}

.msgTime {
    display: flex;
    /* margin-top: -1px; */
    font-size: 0.625rem;
    color: #D9D9D9;
}

.sendCtr {
    display: flex;
    align-items: center;
}

.inviteMsg {
    width: 19.5rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.083rem;
}

.inviteMsg>div {
    display: flex;
    align-items: center;
    gap: 0.833rem;
}

.inviteMsg>div>* {
    border-radius: 8px;
    font-size: 1.333rem;
}

.inviteMsg>div>div>p {
    font-size: 0.833rem;
    font-weight: 300;
}

.inviteMsg>button {
    margin: 0 auto;
    border: 1.5px solid #C6E1FF;
    border-radius: 2px;
    color: #C6E1FF;
    font-size: 1rem;
    width: 12.667rem;
    height: 25px;
    background-color: transparent;
    cursor: pointer;
}

.inviteMsg>button:hover {
    background-color: #C6E1FF;
    color: #409CFF;
    font-weight: 600;
}

.console:hover svg {
    cursor: pointer;
    fill: #409CFF;
    cursor: pointer;
}

.grayBg {
    position: absolute;
    inset: 0;
    background-color: #2C2C2E;
    opacity: 0.5;
    z-index: 999;
}

.modalbox {
    position: absolute;
    margin: auto;
    inset: 0;
    z-index: 1000;
    background-color: #242426;
    height: fit-content;
    width: 35rem;
    padding: 1.25rem;
    border-radius: 10px;
}

.form {
    min-height: fit-content;
}

.modalbox>div:nth-child(1) {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.inputContainer {
    position: relative;
}

.inputContainer>span {
    font-weight: 500;
    font-size: 18px;
    color: #D9D9D9;
}

.inputContainer>input {
    width: 100%;
}

.createChnl {
    font-size: 20px;
    color: #C6E1FF;
    font-weight: 600;
}

.mTop {
    margin-top: 18px;
}

.options>div>h3 {
    font-size: 18px;
    color: #D9D9D9;
    font-weight: 500;
}

.modalbox>div>form>span {
    font-weight: 500;
    font-size: 1.5rem;
    color: #D9D9D9;
}

.modalbox>form>button {
    background-color: #409CFF;
    color: #fff;
    font-weight: 500;
    padding: 8px 0;
    width: 100%;
    margin-top: 1.25rem;
    border-radius: 5px;
    border: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.modalbox>form>p {
    color: #D9D9D9;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 8px;
}

.options {
    display: flex;
    margin-top: 18px;
    justify-content: space-between;
}

.modalbox>form>div:nth-child(2) {
    margin-top: 18px;
}

.modalbox>form>div:nth-child(2)>div {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.modalbox>div:first-child {
    display: flex;
    justify-content: space-between;
}

.modalbox>div:first-child>div {
    cursor: pointer;
}

.checkbox {
    width: 0;
    height: 0;
    visibility: hidden;
}

.label {
    display: block;
    width: 25px;
    height: 13.97px;
    background-color: #3A3A3C;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.channel {
    height: 20px;
    cursor: pointer;
}

.channel:hover>svg>path {
    fill: #409CFF;
}

/* Creating the toggle ball */

.label::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #D9D9D9;
    position: absolute;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.5s;
}

.checkbox:checked + .label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.checkbox:checked + .label {
    background-color: #409CFF;
}

.menu {
    height: 30px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
}

.menuDropdown {
    position: absolute; 
    width: 145px;
    height: fit-content;
    background-color: #3A3A3C;
    border-radius: 5px;
    top: 35px;
    right: 0;
    z-index: 999;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

.menuDropdown>div {
    max-width: 100%;
    height: 25px;
    font-size: 14px;
    color: #fff;
    margin: 4px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuDropdown>div:hover {
    background-color: #2B2B2D;
}

.menuDropdown>div:nth-child(2) {
    color: #FF6482;
}

.arrowAsset {
    display: none !important;
}

.pwd {
    margin-bottom: 1.125rem;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.dropMembers {
    width: 100%;
    background-color: #3A3A3C;
    margin-top: 8px;
    border-radius: 5px;
    height: fit-content;
    z-index: 999;
    position: absolute;
    max-height: 20.667rem;
    overflow-y: scroll;
}

.sUsr {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
    padding: 14px 10px;
    align-items: center;
    
}

.sUsr>div {
    color: #FFFFFF;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sUsr>div>span {
    border-radius: 5px;
}

.btnAdd {
    border: 2px solid #409CFF;
    border-radius: 5px;
    font-size: 1rem;
    color: #409CFF;
    background-color: inherit;
    padding: 6px 18px;
    font-weight: 600;
    cursor: pointer;
}

.btnRmv {
    border: 2px solid #758293;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    background-color: inherit;
    padding: 6px 18px;
    color: #758293;
    cursor: pointer;
}

.usrsInpt {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    height: fit-content;
    overflow-y: auto;
    max-height: 67px;
    max-width: 100%;
}

.usrsInpt::-webkit-scrollbar {
    width: 12px;
}

.usrsInpt::-webkit-scrollbar-track {
    background: inherit;        /* color of the tracking area */
}

.usrsInpt::-webkit-scrollbar-thumb {
    background-color: #2B2B2D    ;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 4px solid inherit;  /* creates padding around scroll thumb */
    height: 37.95px;
  }

.usrsInpt, .modalbox>div>input {
    width: 100%;
    height: fit-content;
    background: #3A3A3C;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    margin-top: 0.667rem;
}

.usrsInpt>input {
    background-color: inherit;
    color: #fff;
    max-width: fit-content;
    min-width: fit-content;
}

.usrsInpt>input:focus, .modalbox>div>input:focus {
    outline: none;
}

.usrTag {
    background-color: #2B2B2D;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.avatarProps {
    width: 4.75rem;
    height: 4.75rem;
    display: flex;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.newCnv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C6E1FF;
    font-weight: 400;
}

.errorMsg {
    color: #EF4664;
    font-weight: 500;
    margin-top: 2px;
    font-size: 1rem;
}   

@media only screen and (max-width: 1024px) {

    .chatContainer {
        height: 92%;
    }

    .displayChat {
        display: flex !important;
    }

    .avatarProps {
        width: 48px !important;
        height: 48px !important;
    }

    .hideUsers {
        display: none !important;
    }

    .arrowAsset {
        cursor: pointer;
        display: block !important;
    }

    .chatContainer {
        margin: 0 auto;
    }

    .chatRight {
        display: none;
    }

    .chatLeft {
        width: 100%;
        border-radius: 15px;
        margin: 0;
    }

    .chatSection {
        border-radius: 15px;
    }

    .leftContent {
        margin: 0;
    }

    .rightContent {
        width: 100%;
        border-radius: 15px;
    }

    .chatRight {
        width: 100%;
        border-radius: 15px;
    }

    .topDetails {
        width: 100%;
        padding: 1.313rem;
        border-radius: 15px 15px 0 0;
        align-items: center;
        height: 8rem;
    }

    .chatUserStatus {
        margin-top: 5px;
    }

    .flex {
        gap: 1.5rem;
        width: 60%;
    }

    .menu {
        width: 20px;
        height: 20px;
    }

    .chatUsername {
        font-size: 1.5rem;
    }

    .chatUserStatus {
        font-size: 1rem;
    }
    
}

/* Settings styles */

.profileHeader {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 28px 24px;
    align-items: center;
}

.profileHeader>h1 {
    font-size: 1.5rem !important;
    color: #C6E1FF;
    font-weight: 500;
}

.profileHeader>button {
    background-color: inherit;
    border: 2px solid #409CFF;
    border-radius: 5px;
    padding: 7px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    color: #409CFF;
    font-weight: 600;
    cursor: pointer;
}

.members {
    max-width: 100%;
    background-color: #2C2C2E;
    height: fit-content;
    border-radius: 5px;
    margin: 20px 24px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
    color: #C6E1FF;
    font-size: 18px;
    font-weight: 500;
}

.members>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #D9D9D9;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
}

.members>div>div:nth-child(2)>svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
    
}
.members>div>div:nth-child(2) {
    position: relative;
}

.members>div>div:nth-child(3) {
    border: 1px solid red;
    position: absolute;
    right: 0;
}

.membersAvtr {
    display: flex;
    gap: 14px;
    align-items: center;
}

.membersAvtr>span {
    border-radius: 8px;
}

.flexCenter {
    display: flex;
    text-align: center;
    justify-content: center;
}