.background {
	background-color: #0000009b;
	position: absolute;
	z-index: 999998;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popUpCtn {
	background-color: #242426;
	z-index: 999999;
	width: 40rem;
	top: 70%;
	left: 50%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 1.6rem;
	filter: none;
	transition: all .2s ease-in-out;
}

.cross {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.titlePopUp {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 1.333rem;
	line-height: 24px;
	color: #C6E1FF;
	margin-bottom: 1.867rem;
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.avatar {
	width: 7rem;
	height: 7rem;
	margin-bottom: 1.6rem;
	cursor: pointer;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	/* border-radius: 10px; */
}

.UserName {
	align-self: flex-start;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 22px;
	color: #D9D9D9;
	margin-bottom: 1rem;
}

.UserNameInput {
	padding: .9rem;
	width: 100%;
	background: #3A3A3C;
	border-radius: 5px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 22px;
	color: #FFFFFF;
	margin-bottom: 1.133rem;
}

.UserNameInput:active,
.UserNameInput:focus {
	outline: none !important;
}

.popUpCtn>p {
	align-self: flex-start;
	margin-bottom: 1rem;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: .8rem;
	line-height: 1rem;
	color: #FF6482;
}

.btnSave {
	background: #409CFF;
	border-radius: 5px;
	width: 100%;
	text-align: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.333rem;
	line-height: 24px;
	color: #FFFFFF;
	padding: .9rem;
	cursor: pointer;
}


.inputHide {
	cursor: pointer;
	z-index: 3;
	opacity: 0 !important;
}

.toggle {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: all .2s ease-in-out;
}

.avatar:hover>.toggle {
	opacity: 1;
	transition: all .2s ease-in-out;
}