.friends {
	padding: 1.333rem 1.667rem;
	background: #3A3A3C;
	box-shadow: 5px 5px 25px #1c1c1ecc;
	border-radius: 15px;
	height: 54.6rem;
}

.btnCtn {
	display: flex;
	flex-direction: row;
}

.friendHeader {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	align-items: center;
}

.searchCtn {
	margin-left: auto;
	background: #2B2B2D;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.4rem;
	border-radius: 3px;
	width: 20rem;
	transition: all 1s;
}

.resizeCtnSearch {
	padding: 0;
	width: 2rem;
	background: transparent;
	transition: all 1s;
}

.search {
	margin-left: .5rem;
	display: inline;
	background: #2B2B2D;
	border-radius: 3px;
	color: #758293;
	width: 100%;
	transition: all 1s;
}

.search:active,
.search:focus {
	outline: none;
}

.btnSearch {
	display: flex;
	width: 1.7rem;
	height: 1.7rem;
	cursor: pointer;
}

.btnFriend {
	cursor: pointer;
	background: #2B2B2D;
	border-radius: 3px;
	padding: 0.667rem 1.6rem;
	margin-right: 1.333rem;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.067rem;
	line-height: 19px;
	color: #758293;
	align-items: center;
}


/* List Friends ----------------------*/


.listFriends {
	display: flex;
	flex-direction: column;
	height: 48.5rem;
	overflow-y: auto;
	scrollbar-color: #2B2B2D #3A3A3C;
	margin-top: 1.333rem;
}

.FriendCtn {
	padding: 2rem;
	padding-top: 0;
	padding-bottom: 1.867rem;
}

.friend {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #2B2B2D;
	border-radius: 5px;
	padding: 0.667rem 0.8rem;
	margin: 0.667rem 0 0 0;
	width: 100%;
	cursor: pointer;
}

.friend:first-of-type {
	margin-top: 0.133rem;
}

.friend:last-of-type {
	margin-bottom: 0px;
}

.Avatar_name {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex: 30%;
}

.avatar {
	width: 3rem;
	height: 3rem;
	border-radius: 5px;
	overflow: hidden;
}

.friendName {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 17px;
	color: #D9D9D9;
	margin-left: 0.667rem;
}

.statusFriend {
	margin-left: 2rem;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 17px;
	color: #D9D9D9;
	flex: 60%;
}

.optionFriend {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sendMsg {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.333rem;
	border-radius: 50%;
	background: #3A3A3C;
	width: 2.5rem;
	height: 2.5rem;
}


.sendMsg:first-of-type {
	margin-right: 1.2rem;
}


.btnSelected {
	background: #555D67;
	border-radius: 3px;
	color: #C6E1FF;
}

.optionsbtnctn {
	position: relative;
}

.hideSearch {
	display: none;
}


.noFriends {
	text-align: center;
	color: #758293;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 15px;
	padding-top: 1rem;
}

@media only screen and (max-width: 2050px) {
	.statusFriend {
		flex: 30%;
	}
}

@media only screen and (max-width: 2200px) {
	.listFriends {
		height: 70rem;
	}

	.friends {
		height: 100%;
	}
}

@media only screen and (max-width: 1000px) {
	.listFriends {
		height: 40rem;
	}
}

@media only screen and (max-width: 880px) {
	.friend {
		display: flex;
		justify-content: space-between;
	}

	.statusFriend {
		margin: 0;
	}

	.btnFriend:last-child {
		margin-right: 0;
	}
}

@media only screen and (max-width: 530px) {
	.friendHeader {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.btnCtn {
		justify-content: space-between;
		width: 100%;
		margin-bottom: 1rem;
	}

	.btnSearch {
		padding: .3rem;
	}

	.searchCtn {
		height: auto;
		padding: .5rem;
		width: 100%;
		margin: 0;
	}

	.statusFriend {
		flex: 5%;
		font-size: 1rem;
	}

	.friendName {
		font-size: 1rem;
	}

	.resizeCtnSearch {
		background: #2B2B2D;
		border-radius: 3px;
		width: 100%;
		transition: all 1s;
	}

	.hideSearch {
		margin-left: .5rem;
		display: inline;
		background: #2B2B2D;
		border-radius: 3px;
		color: #758293;
		width: 100%;
		transition: all 1s;
	}

	.listFriends {
		margin-top: 0.8rem;
	}
}