.GameContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.GameContainer>canvas {
    width: 100%;
    max-width: 2050px;
    margin-top: 1.5rem;
    border-radius: 10px;
}

.fullPage {
    position: relative;
    width: 100%;
    height: 100%;
}

.BackGround {
    z-index: 100;
    position: fixed;
    left: 7rem; 
    right: 0;
    height: 100%;
    background: #1e1e20cc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: wait;
}

.Waiting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: max-content;
    height: max-content;
}

.Waiting>div {
    top: 0;
}

.Waiting>span {
    position: absolute;
    top: 25%;
    text-align: center;
    width: max-content;
    margin-top: 4rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #A0CEFF;
}

.cancelbtn {
    margin-top: 25rem;
    border: 3px solid #758293;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #758293;
    padding: 1.556rem 8rem;
    cursor: pointer;
}

.cancelbtn:hover {
    border: 3px solid #409CFF;
    color: #409CFF;
}

.Waiting>div>span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 5rem;
    line-height: 3rem;
    color: #A0CEFF;
}

@media only screen and (max-width: 600px) {
	.BackGround {
        left: 0;
    }
}