.topBar {
	z-index: 99;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	margin-left: 7rem;
	padding: 3rem 3rem;
	padding-bottom: 1rem;
	display: flex;
	justify-content: center;
	background-color: #1C1C1E;
}

.tmpctn {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.searchIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.8rem;
	height: 1.8rem;
}

.form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 100%;
}

.searchInput {
	border-radius: 0.333rem;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 22px;
	width: 90%;
	color: rgba(198, 225, 255, 0.5);
	background-color: transparent;
	margin-left: 1.2rem;
}

.searchInput::placeholder {
	color: #c6e1ff80;
}

.searchInput:focus,
.searchInput:active {
	outline: none;
}

.inputContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 50%;
	max-width: 76.667rem;
}

.NotifIcon {
	position: relative;
	display: inline-block !important;
	width: 2.5rem !important;
	height: 2.5rem !important;
	min-width: 0 !important;
	min-height: 0 !important;
	margin-left: auto;
	margin-right: 2.667rem;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	cursor: pointer;
}

.dot {
	position: absolute;
	z-index: 2;
	top: .08rem;
	right: .2rem;
	width: 1.037rem;
	height: 1.037rem;
	background-color: #EF476F;
	border-radius: 50%;
}

.ctnNotif {
	z-index: 3;
	position: absolute;
	top: 3rem;
	right: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 1.111rem;
	background-color: #242426;
	box-shadow: 5px 5px 25px rgba(28, 28, 30, 0.8);
	width: max-content;
	border-radius: 5px;
	overflow-y: auto;
	overflow-x: hidden;
	height: max-content;
	max-height: 36rem; 
}

.notifTitle {
	display: block;
	font-size: 1rem;
	color: #C6E1FF;
	margin-bottom: .1rem;
}

.notif {
	padding: 1.111rem;
	border-radius: 5px;
	width: max-content;
	display: flex;
	flex-direction: column;
	gap: 1.111rem;
}

.notif:hover {
	background-color: #3A3A3C;
}

.notifContent {
	display: flex;
	align-items: center;
}

.avatar_notif {
	overflow: hidden;
	width: 5.333rem;
	height: 5.333rem;
	border-radius: 5px;
}

.nameAndcontent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 1.333rem;
}

.nameAndcontent>h1 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.556rem;
	line-height: 1.8rem;
	color: #FFFFFF;
}

.nameAndcontent>p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 200;
	font-size: 1.556rem;
	line-height: 1.8rem;
	color: #FFFFFF;
}

.read {
	color: #bfbfbf !important;
}

.btnContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.667rem;
}

.btnContainer>span {
	border: 2px solid #758293;
	border-radius: 4px;
	padding: 0.7rem;
	width: 10rem;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 2rem;
	color: #758293;
	text-align: center;
}

.btnContainer>span:last-child {
	border-color: #409CFF;
	color: #409CFF;
}

.btnContainer>span:hover {
	background-color: transparent;
	color: #758293;
}

.btnContainer>span:last-child:hover {
	background-color: #409CFF;
	color: #fff;
}
/* end_Notif */

.avatarContainer {
	cursor: pointer;
	margin: 0;
	padding: 0;
	display: flex;
	justify-self: center;
	position: relative;
	width: max-content;
}

.avatar {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 5px;
}

.userName {
	font-family: 'Inter';
	width: max-content;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #FCFDFF;
	text-align: center;
	margin-left: 0.533rem;
	display: flex;
	align-items: center;

}

/* DropDown */

.DropDown {
	position: absolute;
	top: 3.4rem;
	right: 0;
	padding: 0.267rem;
	background: #3A3A3C;
	box-shadow: 0px 0px 25px #00000080;
	border-radius: 5px;
}

.EditP {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 17px;
	color: #FFFFFF;
	padding: .7rem 2rem;
	text-align: center;

}

.LogOut {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 17px;
	color: #FF6482;
	padding: .7rem 2rem;
	text-align: center;
}

.EditP:hover,
.LogOut:hover {
	background: #2B2B2D;
	border-radius: 5px;
}

@media only screen and (max-width: 1000px) {
	.ctnNotif {
		padding: .9rem;
		max-height: 30rem;
	}
	.notif {
		padding: .9rem;
	}
	.btnContainer {
		gap: 1.5rem;
	}

	.avatar_notif {
		width: 3.5rem;
		height: 3.5rem;
	}

	.nameAndcontent {
		padding-left: 1rem;
	}

	.nameAndcontent>h1 {
		font-size: 1.2rem;
		line-height: 1.4rem;
	}

	.nameAndcontent>p {
		font-size: 1.2rem;
		line-height: 1.4rem;
	}

	.btnContainer>span {
		padding: .4rem;
		font-size: 1rem;
		line-height: 1.5rem;
	}
}

@media only screen and (max-width: 880px) {
	.DropDown {
		top: 4.5rem;
	}

	.userName {
		display: none;
	}

	.avatarContainer {
		background-color: transparent;
	}

	.DropDown {
		width: max-content;
	}

	.avatar {
		width: 4.5rem;
		height: 4.5rem;
		border-radius: 5px;
	}
}

@media only screen and (max-width: 600px) {
	.ctnNotif {
		right: 0;
	}
	.topBar {
		margin-left: 0;
		padding-top: 2rem;
	}
}