.history {
	background-color: #2c2c2e;
	border-radius: 15px;
	width: 29.5%;
	width: calc(30% - 1.5rem);
	padding: 1.867rem;
	padding-bottom: 0.8rem;
}

.titleMatchHistory {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 22px;
	color: #C6E1FF;
}

.historyMatchCtn {
	margin-top: 2rem;
	max-height: 55rem;
	height: 100%;
	overflow-y: auto;
	scrollbar-color: #2B2B2D #3A3A3C;
}

.match {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 0 0 0;
	max-height: 3.867rem;
	padding-right: 0.667rem;
}

.match:last-of-type {
	border-bottom: 0;
}

.match:first-of-type {
	margin-top: 0;
}

.Avatar_name {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 50%;
	cursor: pointer;
	gap: 1rem;
}

.avatar {
	display: flex;
	width: 3.8rem;
	height: 3.8rem;
	border-radius: 5px;
	overflow: hidden;
}

.dataMatch {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 17px;
	color: #758293;
	flex: 20%;
	margin-right: 1rem;
}

.Result {
	flex: 20%;
	text-align: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 0.933rem;
	line-height: 17px;
}

.won,
.loss {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 1rem;
	line-height: 17px;
}

.won {

	color: #31BAAE;
}

.loss {
	color: #FF6482;
}

.NoHistory {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 1rem;
}

.NoHistory>span {
	text-align: center;
	color: #758293;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 15px;
}

@media only screen and (max-width: 2200px) {
	.res {
		display: none;
	}

	.dataMatch {
		font-size: 1rem;
	}

	.won,
	.loss {
		font-size: 1rem;
	}
	.historyMatchCtn {
		max-height: 79rem;
	}
}

@media only screen and (max-width: 1300px) {
	.history {
		order: 2;
		max-height: 35.733rem;
		width: 100%;
		padding-bottom: 1.867rem;
	}
	.historyMatchCtn {
		max-height: 18rem;
	}

	.res {
		display: inline;
	}
}
