.SearchCTN {
	background: #2C2C2E80;
	border-radius: 15px;
	padding: 1.333rem;
	height: 100%;
	overflow: hidden;
}

.SearchCTNIN {
	padding-right: 0.667rem;
	overflow-y: auto;
	scrollbar-color: #2B2B2D #3A3A3C;
	height: 93%;
	max-height: 93%;
	gap: 0.667rem;
	display: flex;
	flex-direction: column;
}

.friend {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	background: #2B2B2D;
	border-radius: 5px;
	padding: 1.333rem;
}


.friend:last-of-type {
	margin-bottom: 0;
}

.Avatar_name {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.avatar {
	width: 5.333rem;
	height: 5.333rem;
	margin-right: 1.6rem;
}

.friendName {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 29px;
	color: #FFFFFF;
}

.optionFriend {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-left: auto;
}

.optionsbtnctn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	margin-left: 1rem;
}

.optionMenu {
	z-index: 1000;
	position: absolute;
	background: #3A3A3C;
	box-shadow: 0px 0px 25px #00000080;
	border-radius: 5px;
	top: 3.5rem;
	right: 0rem;
	display: flex;
	padding: 0.3rem;
	flex-direction: column;
	justify-content: center;
}

.itemListoption {
	text-align: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 15px;
	color: #FFFFFF;
	margin-bottom: 0.3rem;
	padding: 0.3rem;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	
}

.itemListoption:hover {
	background: #2B2B2D;
}

.itemListoptionBlock {
	text-align: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 15px;
	color: #FF6482;
	padding: 0.3rem;
	border-radius: 5px;
	cursor: pointer;
}

.itemListoptionBlock:hover {
	background: #2B2B2D;
}

/* botton after hover change content */
/* Friend ++++++++++++++++++++++++++ */
.Hover,
.notHover {
	display: flex;
	align-items: center;
	width: 1.6rem;
	height: 1.6rem;
}

.Hover,
.AddBTNHover {
	display: none;
}

.AddBTNHover,
.AddBTN {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 1.067rem;
	line-height: 19px;
	color: #409CFF;
}

.AddBTNHover {
	color: #758293;
}

.btnfriend {
	border: 2px solid #409CFF;
	border-radius: 5px;
	width: 9.333rem;
	/* height: 40px; */
	padding: 0.667rem 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 1.067rem;
	line-height: 19px;
	cursor: pointer;
}

.btnfriend:hover {
	border: 2px solid #758293;
}

.btnfriend:hover .AddBTN,
.btnfriend:hover .notHover {
	display: none;
}

.btnfriend:hover .AddBTNHover,
.btnfriend:hover .Hover {
	display: flex;
}

/* Pending Friend ++++++++++++++++++++++++++ */
.PendingHover,
.PendingnotHover {
	display: flex;
	align-items: center;
	width: 1.6rem;
	height: 1.6rem;
}


.PendingHover,
.PendingBTNHover {
	display: none;
}


.PendingBTNHover,
.PendingBTN {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 1.067rem;
	line-height: 19px;
	color: #C6E1FF;
}

.PendingBTNHover {
	color: #758293;
}

.btnPending {
	border: 2px solid #C6E1FF;
	border-radius: 5px;
	width: 9.333rem;
	/* max-height: 39px; */
	padding: 0.667rem 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 1.067rem;
	line-height: 19px;
	cursor: pointer;
}

.btnPending:hover {
	border: 2px solid #758293;
}

.btnPending:hover .PendingBTN,
.btnPending:hover .PendingnotHover {
	display: none;
}

.btnPending:hover .PendingBTNHover,
.btnPending:hover .PendingHover {
	display: flex;
}

/* Add Friend Stander  ++++++++++++++++++++++++++++++*/

.icon {
	width: 1.6rem;
	height: 1.6rem;
}

.btnFriendADD {
	border: 2px solid #409CFF;
	border-radius: 5px;
	width: 9.333rem;
	padding: 0.667rem 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 1.067rem;
	line-height: 19px;
	cursor: pointer;
}

.FriendADD {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 1.067rem;
	line-height: 19px;
	color: #409CFF;
}

/* Request button  ++++++++++++++++++++++++++++++*/


.btnRequest {
	border: 2px solid #C6E1FF;
	border-radius: 5px;
	width: 9.333rem;
	padding: 0.667rem 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 1.067rem;
	line-height: 19px;
	cursor: pointer;
	position: relative;
}

.Request {
	display: flex;
	align-items: center;
	width: 1.6rem;
	height: 1.6rem;
}

.RequestBTN {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 1.067rem;
	line-height: 19px;
	color: #C6E1FF;
}

/* Nav between UserList and Channels */
/* ///////////////////////////////// */

.navView {
	display: flex;
	justify-content: flex-start;
	padding: 1.333rem;
	padding-bottom: 0;
}

.TitleOverView {
	position: relative;
	cursor: pointer;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 22px;
	color: #C6E1FF;
	padding-bottom: 0.333rem;
	display: flex;

}

.TitleOverView:first-of-type {
	margin-right: 2.667rem;
}

.ctnIndic {
	margin-bottom: 1.867rem;
	height: 0.333rem;
	margin-left: 1.7rem;
	border-radius: 2px;
}

.Indic {
	background: #409CFF;
	border-radius: 2px;
	width: 4.2rem;
	height: 0.333rem;
	transition: all .3s ease-in-out;
}

.IndicChannel {
	background: #409CFF;
	border-radius: 2px;
	height: 0.333rem;
	margin-left: 7.95rem;
	width: 7rem;
	transition: all .3s ease-in-out;
}

/* Channel Styles */
/* --------------- */

.Channel {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	padding: 1.333rem;
	background: #2B2B2D;
	border-radius: 5px;
}

.Avatar_Channel {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 50%;
}

.avatar {
	width: 5.333rem;
	height: 5.333rem;
	margin-right: 1.6rem;
	border-radius: 5px;
	overflow: hidden;
}

.ChannelName {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.333rem;
	line-height: 22px;
	color: #fff;
	width: 50%;
}

.BackGroundPassword {
		z-index: 100;
    position: fixed;
    left: 0; 
    top: 0;
    height: 100%;
		width: 100%;
    background: #1e1e20cc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: wait;
}

.Channeltype {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 22px;
	color: #fff;
	justify-self: flex-start;
	width: 30%;
}


.LeaveBtn {
	cursor: pointer;
	border: 2px solid #758293;
	border-radius: 5px;
	color: #758293;
	padding: 0.667rem 0;
	text-align: center;
	width: 9.333rem;
	align-items: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	line-height: 19px;
}

.joinBtn {
	cursor: pointer;
	border: 2px solid #409CFF;
	border-radius: 5px;
	color: #409CFF;
	padding: 0.667rem 0;
	text-align: center;
	width: 9.333rem;
	align-items: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	line-height: 19px;
}

.userNotFound {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #758293;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 2rem;
	line-height: 15px;
	height: 100%;
}

@media screen and (max-width:800px) {
	.Channeltype {
		display: none;
	}
	.ChannelName,
	.friendName {
		font-size: 1rem;
	}
	.avatar {
		width: 4rem;
		height: 4rem;
	}
	.Avatar_Channel {
		width: 70%;
	}
}

@media screen and (max-width:600px) {
	.SearchCTN {
		height: 92%;
	}
}

@media screen and (max-width:450px) {
	.Hover,
	.notHover,
	.icon,
	.PendingHover,
	.PendingnotHover {
		display: none !important;
	}

	.LeaveBtn,
	.joinBtn,
	.btnfriend,
	.btnFriendADD,
	.btnPending {
		padding: .4rem 0;
		width: 7rem;
	}

	.AddBTNHover,
	.AddBTN,
	.FriendADD,
	.PendingBTNHover,
	.PendingBTN {
		font-size: 1rem;
	}
}