.background {
	background-color: #0000009b;
	position: fixed;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.settingContainer {
	background-color: #242426;
	z-index: 110;
	width: 40rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 1.6rem;
	filter: none;
	transition: all .2s ease-in-out;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 1.5rem;
}

.header>span {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 2.222rem;
	line-height: 24px;
	color: #C6E1FF;
}

.cross {
	width: 2.667rem;
	height: 2.667rem;
	cursor: pointer;
}

.pages {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 22px;
	color: #D9D9D9;
}

.qrCodeContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.qrCodeContainer>form {
	align-self: center;
	margin-bottom: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 50%;
}

.qrCodeContainer span {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 15px;
	color: #D9D9D9;
}

.inputContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.input {
	background: #3A3A3C;
	width: 2.5rem;
	border-radius: 5px;
	padding: .6rem;
	text-align: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 17px;
	color: #FFFFFF;
}

.btn {
	border-radius: 5px;
	width: 100%;
	text-align: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.333rem;
	line-height: 24px;
	color: #FFFFFF;
	padding: .9rem;
	cursor: pointer;
	background: transparent;
	border: 2px solid #758293;
	color: #758293;
	pointer-events: none;
}

.btnNext {
	pointer-events: all !important;
	border: 2px solid #409CFF;
	background: #409CFF !important;
	color: #FFFFFF !important;
}

/* switch motion Frame */

.SwitchContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: .2rem;
	width: 100%;

}

.switch {
	margin-left: 1rem;
	width: 3.5rem;
	background-color: rgba(255, 255, 255, 0.4);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 50px;
	padding: .3rem;
	cursor: pointer;
}

.switch[data-isOn="true"] {
	justify-content: flex-end;
	background-color: #409CFF;
}

.handle {
	width: 1rem;
	height: 1rem;
	background-color: white;
	border-radius: 40px;
}