.sideNavCtn {
	position: fixed;
	width: 7rem;
	height: 100%;
}

.sidenav {
	background-color: #242426;
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-top: 15.5rem;
	height: 100%;
	opacity: 1;
}

.sidenavInd {
	position: absolute;
	top: 0;
	background-color: #242426;
	margin-left: 70%;
	width: 30%;
	display: flex;
	justify-content: center;
	padding-top: 15.5rem;
	height: 100%;
	transition: 0.6s;
}

.sideItems {
	background-color: #242426;
	width: 100%;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	gap: 3.3rem;
}

.hide {
	opacity: 0 !important;
}

.Indicator {
	padding-top: 0.55rem;
	opacity: 1;
	height: 100%;
	background-color: #242426;
	transition: all .2s ease-in-out;
}

.IndicSvg {
	background: #409CFF;
	border-radius: 4px;
	width: 0.364rem;
	height: 1.8rem;
}

.profilePos {
	margin-top: 0;
}

.liveGamePos {
	margin-top: 6rem;
}

.gamePos {
	margin-top: 12rem;
}

.chatPos {
	margin-top: 18rem;
}

.backIcons {
	display: flex;
	justify-content: right;
	align-items: center;
	width: 100%;
	background-color: #242426;
}

.logOut {
	display: flex;
	justify-content: right;
	align-items: center;
	margin-bottom: 7.091rem;
	width: 2.727rem;
	height: 2.727rem;
	cursor: pointer;
}

.IconsNav {
	cursor: pointer;
	width: 2.727rem;
	height: 2.727rem;
	position: relative;
}

.IconsNav>div {
	z-index: 1;
	position: absolute;
	width: 1rem;
	height: 1rem;
	background-color: #EF476F;
	border-radius: 50%;
	right: 0;
	top: 0;
}

@media only screen and (max-width: 600px) {
	.backIcons {
		display: flex;
		justify-content: center;
	}

	.sideNavCtn {
		position: fixed;
		display: flex;
		flex-direction: column;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 99999999;
		height: 5rem;
		width: 100%;
	}

	.sidenav {
		justify-content: center;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0;
		height: 100%;
		width: 100%;
	}

	.sidenavInd {
		top: 85%;
		bottom: 0;
		margin: 0;
		padding: 0;
		height: 0.25rem;
		width: 100%;
		justify-content: flex-start;
	}

	.logOut {
		display: none;
	}

	.sideItems {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 0;
	}

	.backIcons {
		height: 100%;
		align-items: center;
	}

	.IndicSvg {
		height: 0.3rem;
		width: 1.7rem;
	}

	.Indicator {
		margin: 0;
		padding: 0;
		width: 25%;
		display: flex;
		justify-content: center;
	}

	.profilePos {
		margin-left: 0;
	}

	.liveGamePos {
		margin-left: 25%;
	}

	.gamePos {
		margin-left: 50%;
	}

	.chatPos {
		margin-left: 75%;
	}

}