.ChannelMemberContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ChannelMemberContainer > img {
  width: 2rem;
  height: 2rem;
}

.ChannelMemberProfile {
  font-weight: 500;
  font-size: 1.5rem;
  color: #d9d9d9;
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.ChannelMemberProfile > img {
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
}

/* .ChatMsgSettings {
  font-size: 1.5rem;
  color: #ffffff;
}

.ChatMsgSettings img {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
} */

.SettingContainer {
  position: absolute;
  min-width: 10rem;
  z-index: 100;
  padding: 0.5rem;
  right: 4.5rem;
  background: #3a3a3c;
  border-radius: 5px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
