.ChatMsgSendBoxContainer {
  height: 4rem;
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.ChatMsgSendBoxContainer img {
  height: 2.2rem;
  width: 2.2rem;
  cursor: pointer;
}

.ChatMsgSendBox {
  height: 100%;
  width: 100%;
  padding: 0.6rem;
  border-radius: 5px;
  background-color: #2b2b2d;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ChatMsgSendBox > img {
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

.ChatMsgSendBox > img:hover {
    image-rendering: red;
}

.ChatMsgSendBox input {
  height: auto;
  width: 88%;
  background-color: transparent;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.4rem;
}

.ChatMsgSendBox input::placeholder {
  color: #758293;
}

.ChatBlockedSendBox {
  height: 100%;
  width: 100%;
  padding: 0.6rem;
  border-radius: 5px;
  background-color: #2b2b2d;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
