.right {
  display: flex;
  justify-content: flex-end;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.ChatMsgList {
  width: calc(100% - (0.3rem));
  height: calc(100% - (4rem + 8rem));
  padding: 1.5rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ChatMsgList::-webkit-scrollbar {
  width: 0.4rem;
  height: calc(100% - (4rem + 8rem + 1.5rem));
  border-radius: 0;
  margin: 0;
  padding: 0;
  /* outline: 3px solid #2d2f31; */
  /* outline: 0.1rem solid red; */
}

.MsgContainer {
  max-width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.MsgBox {
  height: inherit;
  padding: 0.8rem 1rem;
  background-color: #409cff;
  font-weight: 600;
  font-size: 1.5rem;
  color: #ffffff;
  border-radius: 5px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}

.MsgBox > p {
  word-wrap: break-word;
}

.SenderMsgBox {
  background-color: #3a3a3c;
  border-radius: 0px 5px 5px 5px;
}

.MsgBox > h2 {
  font-weight: 600;
  font-size: 1.2rem;
  color: #409cff;
}

.MsgDate {
  font-weight: 500;
  font-size: 1rem;
  color: #d9d9d9;
  display: flex;
  justify-content: flex-end;
}

.SenderMsgDate {
  justify-content: flex-start;
}

.InviteMsgBox {
  width: fit-content;
  height: fit-content;
  padding: 1rem 2rem;
  background-color: #409cff;
  border-radius: 5px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.SenderInviteMsgBox {
  background: #3a3a3c;
  border-radius: 0px 5px 5px 5px;
}

.InviteMsginfo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.InviteMsginfo > img {
  width: 5rem;
  height: 5rem;
  border-radius: 8px;
}

.InviteMsgProfle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.InviteMsgProfileName {
  font-weight: 500;
  font-size: 1.8rem;
  color: #ffffff;
}

.InviteMsgStatus {
  font-weight: 300;
  font-size: 1.2rem;
  color: #ffffff;
}

.InviteMsgButton {
  width: 100%;
  border: 2px solid #c6e1ff;
  border-radius: 5px;
  padding: 0.6rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: #c6e1ff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InviteMsgButton:hover {
  color: #409cff;
  background-color: #c6e1ff;
}

.SenderInviteMsgButton {
  width: 100%;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AcceptInvite {
  width: 45%;
  padding: 0.6rem;
  background-color: #409cff;
  border: 2.5px solid #409cff;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RefuseInvite {
  width: 45%;
  padding: 0.6rem;
  border: 2.5px solid #758293;
  border-radius: 5px;
  color: #758293;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 900px) {
  .MsgContainer {
    max-width: 60%;
  }

  .InviteMsginfo > img {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 8px;
  }


.InviteMsgProfileName {
  font-weight: 500;
  font-size: 1.5rem;
  color: #ffffff;
}

.InviteMsgStatus {
  font-weight: 300;
  font-size: 1.2rem;
  color: #ffffff;
}

.InviteMsgButton {
  width: 100%;
  border: 2px solid #c6e1ff;
  border-radius: 5px;
  padding: 0.6rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: #c6e1ff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SenderInviteMsgButton {
  width: 100%;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
}