.achievements {
	background-color: #2c2c2e80;
	border-radius: 15px;
	flex: 31.0571240972%;
	padding: 20px 28px 12px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	/* max-width: 50%; */
	max-width: 550px;
	/* min-width: 430px; */
}
/* @media screen {
	.achievements {
		flex: 50%;
	}	
} */



.badge {
	background-color: transparent;
}

.title {
	background-color: transparent;
	color: #C6E1FF;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 24px;
}

.achievementctn {
	background-color: transparent;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #3A3A3C;
	border-radius: 8px;
	padding: 5px 14px;
	margin-bottom: 8px;

}

.achievement {
	background-color: transparent;
	padding-left: 26.6px;
}

.achievementTitle {
	background-color: transparent;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #D9D9D9;
}

.disc {
	background-color: transparent;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 15px;
	color: #D9D9D9;
}

.noAchievements {
	text-align: center;
	color: #758293;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 15px;

}