.friends {
	margin: 20px 25px;
	margin-top: 0;
	padding: 20px 25px;
	background: #3A3A3C;
	box-shadow: 5px 5px 25px #1c1c1ecc;
	border-radius: 15px;
	max-width: 100%;
	max-height: 439px;
}


.btnCtn {
	display: flex;
	flex-direction: row;
}

.friendHeader {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	align-items: center;
	/* justify-content: start; */
}


.searchCtn {
	margin-left: auto;
	background: #2B2B2D;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px;
	border-radius: 3px;
	height: 30px;
	width: 180px;
}

.search {
	background: #2B2B2D;
	border-radius: 3px;
	color: #758293;
	width: 100%;
}

.search:active,
.search:focus {
	outline: none;
}

.btnSearch {
	display: flex;
	max-width: 13.05;
	max-height: 13.05;
}

.btnFriend {
	cursor: pointer;
	background: #2B2B2D;
	border-radius: 3px;
	padding: 6px 18px;
	margin-right: 20px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #758293;
}


/* List Friends ----------------------*/


.listFriends {
	display: flex;
	flex-direction: column;
	height: 355px;
	overflow: auto;
	scrollbar-color: #2B2B2D #3A3A3C;
	/* border: 1px solid red; */
	padding-right: 9px;
	margin-top: 20px;
}


.friend {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #2B2B2D;
	border-radius: 5px;
	padding: 10px 12px;
	margin: 10px 0 0 0;
	max-height: 50px;
	width: 100%;
}

.friend:first-of-type {
	margin-top: 2px;
}
.friend:last-of-type {
	margin-bottom: 0px;
}

.Avatar_name {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex: 10%;
}

.avatar {
	width: 28px;
	height: 28px;
	border-radius: 5px;
}

.friendName {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #D9D9D9;
	margin-left: 10px;
}

.statusFriend {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #D9D9D9;
	flex: 59%;
	/* margin-right: 59.3695652174%; */
}

.optionFriend {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sendMsg {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-radius: 50%;
	background: #3A3A3C;
	width: 30px;
	height: 30px;
}


.sendMsg:first-of-type {
	margin-right: 18px;
}


.btnSelected {
	background: #555D67;
	border-radius: 3px;
	color: #C6E1FF;
}

.optionsbtnctn {
	position: relative;
}

.hideListOption {
	display: none;
}

.showListOption {
	display:inherit;
}

.listOptions {
	width: auto;
	z-index: 1000;
	position: absolute;
	background: #3A3A3C;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	top: 31px;
	right: 0;
	display: flex;
	padding: 4px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 76px;
}

.itemListoption {
	text-align: left;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;
	margin-bottom: 4px;
	padding: 4px;
	border-radius: 5px;
	cursor: pointer;
}
.itemListoption:hover {
	background: #2B2B2D;
}

.itemListoptionBlock {
	text-align: left;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #FF6482;
	padding: 4px 4px;
	border-radius: 5px;
	cursor: pointer;
}
.itemListoptionBlock:hover {
	background: #2B2B2D;
}



@media only screen and (max-width: 1024px) {
	.statusFriend {
		flex: 30%;
	}
}


@media only screen and (max-width: 880px) {
	.btnFriend {
		padding: 10px;
	}
	.searchCtn {
		display: none;
	}
	.friend {
		display: flex;
		justify-content: space-between;
	}
	.statusFriend {
		margin: 0;
	}
}

@media only screen and (max-width: 740px) {
	.btnFriend {
		text-align: center;
		padding: 8px;
		font-size: 12px;
	}
	.searchCtn {
		display: none;
	}
	.Avatar_name {
		flex: 30%;
	}
	.statusFriend {
		flex: 10%;
		/* padding-left: 8px; */
		font-size: 11px;
	}
	.friend {
		justify-content: space-between;
	}
	.friendName {
		padding-right: 3px;
		font-size: 11px;
	}
	.sendMsg {
		width: 24px;
		height: 24px;
	}
}


@media only screen and (max-width: 450px) {
	.btnFriend {
		margin-right: 10px;
		font-size: 11px;
	}
	.sendMsg:first-of-type {
		margin-right: 5px;
	}
	.btnFriend:last-child {
		margin-right: 0;
	}
}
