@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


.topBar {
	z-index: 99;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	margin-left: 6rem;
	padding: 3rem 3rem;
	padding-bottom: 1rem;
	display: flex;
	justify-content: center;
	background-color: #1C1C1E;
}

.tmpctn {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.searchInput {
	border-radius: 0.333rem;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 22px;
	width: 90%;
	color: rgba(198, 225, 255, 0.5);
	background-color: transparent;
	margin-left: 1.2rem;
}

.searchInput::placeholder {
	color: #c6e1ff80;
}

.searchInput:focus,
.searchInput:active {
	outline: none;
}

.inputContainer {
	padding-left: .5rem;
	display: flex;
	width: 67%;
	max-width: 76.667rem;
}

.avatarContainer {
	cursor: pointer;
	margin: 0;
	padding: 0;
	display: flex;
	justify-self: center;
	position: relative;
}

.avatar {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 5px;
}

.userName {
	text-align: center;
	margin: auto 0;
	margin-left: 0.533rem;
}

/* DropDown */

.DropDown {
	position: absolute;
	top: 3.4rem;
	right: 0;
	padding: 0.267rem;
	background: #3A3A3C;
	box-shadow: 0px 0px 25px #00000080;
	border-radius: 5px;
}

.EditP {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 17px;
	color: #FFFFFF;
	padding: .7rem 2rem;
	text-align: center;

}

.LogOut {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 17px;
	color: #FF6482;
	padding: .7rem 2rem;
	text-align: center;
}

.EditP:hover,
.LogOut:hover {
	background: #2B2B2D;
	border-radius: 5px;
}

@media only screen and (max-width: 880px) {
	.DropDown {
		top: 4.5rem;
	}
	.userName {
		display: none;
	}
	.avatarContainer {
		background-color: transparent;
	}
	.DropDown {
		width: max-content;
	}
	.avatar {
		width: 4.5rem;
		height: 4.5rem;
		border-radius: 5px;
	}
}

@media only screen and (max-width: 600px) {
	.topBar {
		margin-left: 0;
		padding-top: 2rem;
		padding-left: 6rem;
	}
}