.overview {
    height: 100%;
    background-color: #2C2C2E;
    opacity: 0.5;
    border-radius: 15px;
    height: 800px;
}

.titles {
    padding: 28px;
    display: flex;
    gap: 1rem;
}

.overviewTitle, .friendsTitle {
    color: #C6E1FF;
    opacity: 0.5;
    font-weight: 500;
    font-size: 18px;
}

.overviewContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 80%;
    padding: 0 28px;
    gap: 28px;
}

.leaderboard, .stats {
    width: 100%;
}

.leaderboardContent {
    background-color: #3A3A3C;
    border-radius: 15px;
    height: 100%;
    margin-top: 1.5rem;
}

.statsContent {
    background-color: #3A3A3C;
    border-radius: 15px;
    height: 100%;
    margin-top: 1.5rem;
}