.listFriends {
	display: flex;
	flex-direction: column;
	height: 355px;
	overflow: auto;
	scrollbar-color: #2B2B2D #3A3A3C;
	/* border: 1px solid red; */
	padding-right: 9px;
	margin-top: 20px;
}


.friend {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #2B2B2D;
	border-radius: 5px;
	padding: 10px 12px;
	margin: 10px 0 0 0;
	height: 50px;
	max-height: 50px;
}

.friend:first-of-type {
	margin-top: 2px;
}

.friend:last-of-type {
	margin-bottom: 0px;
}

.Avatar_name {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex: 10%;
}

.avatar {
	width: 28px;
	height: 28px;
	border-radius: 5px;

}

.friendName {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #D9D9D9;
	margin-left: 10px;
}

.optionFriend {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 15%;
}

.sendMsg {
	cursor: pointer;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #409CFF;
	padding-top: 7px;
	height: 30px;
}



.sendMsg:last-of-type {
	color: #758293;
}


.btnSelected {
	background: #555D67;
	border-radius: 3px;
	color: #C6E1FF;
}




@media only screen and (max-width: 1024px) {
	.optionFriend {
		flex: 4%;
	}

	.Avatar_name {
		flex: 60%;
	}

	.listFriends {}
}


@media only screen and (max-width: 745px) {
	.optionFriend {
		flex: 8%;
	}

	.Avatar_name {
		flex: 50%;
	}

	.friendName {
		font-size: 11px;
	}

	.sendMsg {
		font-size: 11px;
	}
}


@media only screen and (max-width: 520px) {
	.optionFriend {
		flex: 40%;
	}

	.Avatar_name {
		flex: 60%;
	}

	.friend {
		justify-content: start;
	}

	.sendMsg:first-of-type {
		padding-left: 10px;
	}
}

@media screen and (max-width:1450px) {
	.optionFriend {
		width: 17%;
	}
}