.SearchCTN {
	display: flex;
	flex-direction: column;
	flex: auto;
	background: #2C2C2E80;
	border-radius: 15px;
	padding: 20px;
	margin: auto;
	max-width: 1728px;
}

.SearchCTNIN {
	padding-right: 10px;
	/* margin: 5px; */
	overflow-y: auto;
	scrollbar-color: #2B2B2D #3A3A3C;
	height: 98%;
	max-height: 1480px;
}

.friend {
	display: flex;
	justify-content: flex-start;
	max-height: 100px;
	width: 100%;
	margin-bottom: 10px;
	background: #2B2B2D;
	border-radius: 5px;
	padding: 10px 20px;
}


.friend:last-of-type {
	margin-bottom: 0;
}

.Avatar_name {
	display: flex;
	flex-direction: row;
	align-items: center;
	/* flex: 60%; */
}

.avatar {
	width: 80px;
	height: 80px;
	margin-right: 24px;
}

.friendName {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
}

.optionFriend {
	/* flex: 2%; */
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-left: auto;
}

.optionsbtnctn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	/* background-color: #3A3A3C;
	border-radius: 50%; */
	cursor: pointer;
	margin-left: 15px;
}

.optionMenu {
	/* width: 100%; */
	z-index: 1000;
	position: absolute;
	background: #3A3A3C;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	top: 33px;
	right: 0;
	display: flex;
	padding: 4px;
	flex-direction: column;
	justify-content: center;
	align-items: left;

	/* min-width: 105px; */
}

.itemListoption {
	/* height: 23px; */
	text-align: left;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;
	margin-bottom: 4px;
	padding: 4px;
	border-radius: 5px;
	cursor: pointer;
}

.itemListoption:hover {
	background: #2B2B2D;
}

.itemListoptionBlock {
	/* height: 23px; */
	text-align: left;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #FF6482;
	padding: 4px 4px;
	border-radius: 5px;
	cursor: pointer;
}

.itemListoptionBlock:hover {
	background: #2B2B2D;
}

/* botton after hover change content */
/* Friend ++++++++++++++++++++++++++ */
.Hover,
.notHover {
	display: flex;
	align-items: center;
	width: 24px;
	height: 24px;
}

.Hover,
.AddBTNHover {
	display: none;
}

.AddBTNHover,
.AddBTN {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #409CFF;
}

.AddBTNHover {
	color: #758293;
}

.btnfriend {
	border: 2px solid #409CFF;
	border-radius: 5px;
	width: 140px;
	/* height: 40px; */
	padding: 10px 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	cursor: pointer;
}

.btnfriend:hover {
	border: 2px solid #758293;
}

.btnfriend:hover .AddBTN,
.btnfriend:hover .notHover {
	display: none;
}

.btnfriend:hover .AddBTNHover,
.btnfriend:hover .Hover {
	display: flex;
}

/* Pending Friend ++++++++++++++++++++++++++ */
.PendingHover,
.PendingnotHover {
	display: flex;
	align-items: center;
	width: 24px;
	height: 24px;
}


.PendingHover,
.PendingBTNHover {
	display: none;
}


.PendingBTNHover,
.PendingBTN {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #C6E1FF;
}

.PendingBTNHover {
	color: #758293;
}

.btnPending {
	border: 2px solid #C6E1FF;
	border-radius: 5px;
	width: 140px;
	/* max-height: 39px; */
	padding: 10px 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	cursor: pointer;
}

.btnPending:hover {
	border: 2px solid #758293;
}

.btnPending:hover .PendingBTN,
.btnPending:hover .PendingnotHover {
	display: none;
}

.btnPending:hover .PendingBTNHover,
.btnPending:hover .PendingHover {
	display: flex;
}

/* Add Friend Stander  ++++++++++++++++++++++++++++++*/


.btnFriendADD {
	border: 2px solid #409CFF;
	border-radius: 5px;
	width: 140px;
	/* height: 40px; */
	padding: 10px 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	cursor: pointer;
}

.FriendADD {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #409CFF;
}


@media screen and (max-width:900px) {
	.friendName {
		font-size: 18px;
	}

	.btnfriend,
	.btnFriendADD,
	.btnPending {
		width: 100px;
	}

	.AddBTNHover,
	.AddBTN,
	.FriendADD,
	.PendingBTNHover,
	.PendingBTN {
		font-size: 12px;
	}
}

@media screen and (max-width:700px) {

	.avatar {
		width: 50px;
		height: 50px;
	}

	.avatar {

		margin: 0;
		margin-right: 10px;
	}

	.btnfriend,
	.btnFriendADD,
	.btnPending {
		width: 80px;
	}

	.friendName {
		font-size: 12px;
	}

	.AddBTNHover,
	.AddBTN,
	.FriendADD,
	.PendingBTNHover,
	.PendingBTN {
		font-size: 10px;
	}

	.Hover,
	.icon,
	.notHover,
	.PendingHover,
	.PendingnotHover {
		width: 15px;
	}
}

@media screen and (max-width:510px) {

	.btnfriend,
	.btnFriendADD,
	.btnPending {
		width: 64px;
		padding: 5px 0;
	}

	.avatar {
		width: 40px;
		height: 40px;
		/* margin: 0; */
	}

	.SearchCTN {
		padding: 10px;
	}

	.Hover,
	.icon,
	.notHover,
	.PendingHover,
	.PendingnotHover {
		display: none !important;
	}

	.optionsbtnctn {
		margin-right: 0;
	}

}