.containerSection {
	margin-right: 3rem;
	margin-top: 9.4rem;
	margin-left: 9rem;
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: flex-start;
	padding-bottom: 1rem;
	/* height: 100vh; */
	height: 100%;
}

/* @media only screen and (min-width: 1926px) {
	.containerSection {
		margin-top: 150px;
	}
}


@media only screen and (max-width: 880px) {
	.containerSection {
		margin-top: 11rem;
	}
}
*/
@media only screen and (max-width: 600px) {
	.containerSection {
		margin-left: 3rem;
	}
}
/*
*/