.burger {
	display: none;
	z-index: 999;
	position: fixed;
	top: 3.2rem;
	left: 1rem;
	width: 4rem;
	cursor: pointer;
	background-color: transparent;
}

.sidenav {
	background-color: #242426;
	position: fixed;
	width: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-top: 15.5rem;
	height: 100%;
	opacity: 1;
}

.sidenavInd {
	background-color: #242426;
	position: fixed;
	margin-left: 4rem;
	width: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-top: 15.5rem;
	height: 100%;
	transition: 0.6s;
}

.hide {
	opacity: 0;
}

.profilePos {
	height: 100%;
	opacity: 1;
	margin-top: 0.1rem;
	background-color: #242426;
	transition: all .2s ease-in-out;
}

.liveGamePos {
	opacity: 1;
	margin-top: 5.7rem;
	background-color: #242426;
	transition: all .2s ease-in-out;
}

.gamePos {
	opacity: 1;
	margin-top: 11.05rem;
	background-color: #242426;
	transition: all .2s ease-in-out;
}

.chatPos {
	opacity: 1;
	margin-top: 16.5rem;
	background-color: #242426;
	transition: all .2s ease-in-out;
}

.sideItems {
	background-color: #242426;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	z-index: 999;
	gap: 3.3rem;
}

.backIcons {
	display: flex;
	justify-content: right;
	/* padding-left: 1rem; */
	width: 100%;
	background-color: #242426;
}

.IconsNav {
	cursor: pointer;
	width: 2rem;
	height: 2rem;
}

.logOut {
	margin-bottom: 7.867rem;
}

/*/**/
@media only screen and (max-width: 2800px) {
	.profilePos {
		margin-top: 0.2rem;
	}

	.liveGamePos {
		opacity: 1;
		margin-top: 5.8rem;
	}

	.gamePos {
		opacity: 1;
		margin-top: 11.3rem;
	}

	.chatPos {
		opacity: 1;
		margin-top: 16.9rem;
	}
}

@media only screen and (max-width: 1350px) {

	.profilePos {
		margin-top: 0.3rem;
	}

	.liveGamePos {
		margin-top: 6.8rem;
	}

	.gamePos {
		margin-top: 13.1rem;
	}

	.chatPos {
		margin-top: 19.5rem;
	}
}

@media only screen and (max-width: 700px) {
	.liveGamePos {
		margin-top: 7rem;
	}

	.gamePos {
		margin-top: 13.65rem;
	}

	.chatPos {
		margin-top: 20.5rem;
	}
}

@media only screen and (min-width: 601px) {
	.sidenav {
		opacity: 1 !important;
		transform: translateX(0) !important;
	}
}

@media only screen and (max-width: 600px) {
	.burger {
		display: flex;
		justify-content: center;
	}

	.backIcons {
		display: flex;
		justify-content: center;
	}

	.sidenav {
		z-index: 998;
		opacity: 0;

		width: 6rem;
	}

	.showNav {
		display: inline;
	}

	.HideNav {
		opacity: 0;
	}

	.sideItems {
		align-items: center;
	}

	.sidenavInd {
		opacity: 0;
	}
}




/* burger menu */

.label {
	display: flex;
	flex-direction: column;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}

.label span {
	background: #409CFF;
	border-radius: 10px;
	height: .4rem;
	margin: .131rem 0;
	transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

}

.span:nth-of-type(1) {
	width: 50%;

}

.span:nth-of-type(2) {
	width: 100%;
}

.span:nth-of-type(3) {
	width: 75%;

}

.input[type="checkbox"] {
	display: none;
}

.input[type="checkbox"]:checked~span:nth-of-type(1) {
	transform-origin: top;
	transform: rotatez(45deg) translate(.48rem, .07rem)
}

.input[type="checkbox"]:checked~span:nth-of-type(2) {

	transform-origin: center;
	transform: rotatez(-45deg)
}

.input[type="checkbox"]:checked~span:nth-of-type(3) {

	transform-origin: top;
	width: 50%;
	transform: translate(1.02rem, -.26rem) rotatez(45deg);

}