.sidenav {
	/* border: 1px solid green; */
	background-color: #242426;
	width: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-top: 15.5rem;
	height: 100%;
	/* margin: 0; */
}

.sidenavInd {
	/* border: 1px solid red; */
	background-color: #242426;
	margin-left: 4rem;
	width: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-top: 11rem;
	height: 100%;
	transition: 0.6s;
}

.indecator {
	/* background-color: red; */
	padding-top: 15.5rem;
	transition: all 2s;
}

.profilePos {
	opacity: 1;
	margin-top: 4.8rem;
	background-color: #242426;
	transition: all .2s ease-in-out;
}

.liveGamePos {
	opacity: 1;
	margin-top: 10.75rem;
	background-color: #242426;
	transition: all .2s ease-in-out;
}

.gamePos {
	opacity: 1;
	margin-top: 16.7rem;
	background-color: #242426;
	transition: all .2s ease-in-out;
}

.chatPos {
	opacity: 1;
	margin-top: 22.65rem;
	background-color: #242426;
	transition: all .2s ease-in-out;
}

@media only screen and (max-height: 900px) {
	.sidenav {
		padding-top: 10rem;
	}
	.sidenavInd {

		padding-top: 0.05rem;
	}
	.profilePos {
		opacity: 1;
		margin-top: 10.3rem;
	}
	
	.liveGamePos {
		opacity: 1;
		margin-top: 16.2rem;
	}
	
	.gamePos {
		opacity: 1;
		margin-top: 22.13rem;
	}
	
	.chatPos {
		opacity: 1;
		margin-top: 28.1rem;
	}
}


@media only screen and (max-width: 1207px) {
	.sidenav {
		/* We should hide the whole item not just lower its opacity */
		/* opacity: 0; */
		display: none;
	}
	.sidenavInd {
		/* opacity: 0; */
		display: none;
	}
}

.sideItems {
	background-color: #242426;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 999;
	gap: 3.3rem;
}

.backIcons {
	padding-left: 1rem;
	background-color: #242426;
	cursor: pointer;
}

.logOut {
	margin-bottom: 2rem;
}

